[{:title "Projects"
  :slug  "projects"}
 {:title "star-platinum - take control of your applications, one key at the time"
  :slug  "star-platinum"}
 {:title "gmid - dead simple zero configuration gemini server"
  :slug  "gmid"}
 {:title "crest - see your rest endpoints"
  :slug  "crest"}
 {:title "sam.el - An editor for the best OS"
  :slug  "sam-el"}
 {:title "mymenu - a menu of mine"
  :slug  "mymenu"}]
